.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  color: black;
}

img {
  max-width: 100%;
}

html, body, input, button {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.img-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.over-flow-name {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidenav a {
  position: fixed;
  z-index: 4;
  right: -135px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  width: 180px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.sidenav a i {
  color: white;
  margin-right: 10px;
  font-size: 24px;
}

.sidenav a span {
  color: white;
  font-weight: 600;
}

.sidenav a:hover {
  right: 0;
}

.sidenav .demos {
  top: 200px;
  background-color: #33363b;
}

.sidenav .documentation {
  top: 255px;
  background-color: #33363b;
}

.sidenav .support {
  top: 310px;
  background-color: #33363b;
}

.sidenav .reviews {
  top: 365px;
  background-color: #33363b;
}

.sidenav .buynow {
  top: 420px;
  background-color: #f6a800;
}

.totop {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.totop i {
  font-size: 30px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background: white;
  z-index: 3;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-banner header {
  padding: 12px 0px;
  border-bottom: solid 1px rgba(51, 51, 51, 0.2);
}

.top-banner header .container .very-top {
  width: 100%;
}

.top-banner header .container .very-top .welcome {
  font-size: 13px;
  font-weight: 540;
}

.top-banner header .container .very-top .navi {
  font-size: 12px;
}

.top-banner header .container .very-top .navi .currency-list {
  border-right: solid 1px rgba(51, 51, 51, 0.2);
}

.top-banner header .container .very-top .navi .currency-list li {
  margin-right: 25px;
  cursor: pointer;
}

.top-banner header .container .very-top .navi .currency-list li i {
  margin-left: 5px;
  font-size: 13px;
}

.top-banner header .container .very-top .navi .currency-list li.usa:hover i {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .currency-list li.usa:hover {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .currency-list li.eng:hover i {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .currency-list li.eng:hover {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .help-list li {
  margin-left: 25px;
}

.top-banner header .container .very-top .navi .help-list li i {
  margin-right: 10px;
  font-size: 16px;
}

.top-banner header .container .very-top .navi .help-list li.contact:hover a i {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .help-list li.contact:hover a {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .help-list li.need-help:hover a i {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .help-list li.need-help:hover a {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .login-list {
  cursor: pointer;
  margin-left: 25px;
}

.top-banner header .container .very-top .navi .login-list li i {
  margin-right: 10px;
  font-size: 16px;
}

.top-banner header .container .very-top .navi .login-list li.sign-in:hover i {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .login-list li.sign-in:hover {
  color: #f6a800;
}

.top-banner header .container .very-top .navi .login-list li.slash {
  margin: 0px 5px;
  font-size: 16px;
}

.top-banner header .container .very-top .navi .login-list li.regis:hover {
  color: #f6a800;
}

.top-banner .header-row {
  /* width: 1200px;
        position: fixed;
        z-index: 11;
        background: white; */
  padding: 15px;
}

.top-banner .header-row .container a .logo {
  width: 153px;
  height: 44px;
}

.top-banner .header-row .container .searching {
  margin: 0px 35px;
  width: 45%;
  position: relative;
}

.top-banner .header-row .container .searching .search-bar {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  opacity: 0.7;
  border: solid 1px rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

.top-banner .header-row .container .searching .search-icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  font-size: 18px;
  top: 25%;
}

.top-banner .header-row .container .searching .search-icon:hover i {
  color: #f6a800;
}

.top-banner .header-row .container .phone {
  cursor: pointer;
}

.top-banner .header-row .container .phone .phone-icon li i {
  font-size: 28px;
}

.top-banner .header-row .container .phone .phone-text {
  padding-left: 10px;
}

.top-banner .header-row .container .phone .phone-text li {
  font-size: 12px;
}

.top-banner .header-row .container .phone .phone-text .phone-num {
  font-size: 14px;
  color: black;
  font-weight: 900;
  padding-top: 3px;
}

.top-banner .header-row .container .phone:hover .phone-icon li i {
  color: #f6a800;
}

.top-banner .header-row .container .phone:hover .phone-text li {
  color: #f6a800;
}

.top-banner .header-row .container .heart {
  border-left: solid 1px rgba(51, 51, 51, 0.2);
  border-right: solid 1px rgba(51, 51, 51, 0.2);
  padding: 0px 20px;
}

.top-banner .header-row .container .heart i {
  cursor: pointer;
  font-size: 28px;
  color: black;
}

.top-banner .header-row .container .heart i:hover {
  color: #f6a800;
}

.top-banner .header-row .container .cart {
  cursor: pointer;
}

.top-banner .header-row .container .cart .cart-text li {
  font-size: 12px;
}

.top-banner .header-row .container .cart .cart-text li .cart-price {
  font-size: 14px;
  color: black;
  font-weight: 900;
  padding-top: 3px;
}

.top-banner .header-row .container .cart .cart-icon {
  padding-left: 10px;
  position: relative;
}

.top-banner .header-row .container .cart .cart-icon i {
  font-size: 30px;
}

.top-banner .header-row .container .cart .cart-icon .num-of-items {
  background-color: #f6a800;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  height: 20px;
  width: 20px;
}

.top-banner .header-row .container .cart .cart-icon .num-of-items span {
  color: white;
  font-size: 12px;
}

.top-banner .header-row .container .cart:hover ul li {
  color: #f6a800;
}

.top-banner .header-row .container .cart:hover ul li .cart-price {
  color: #f6a800;
}

.top-banner .header-row .container .cart:hover .cart-icon i {
  color: #f6a800;
}

.top-banner .navi-bar .container {
  background-color: #28475c;
  height: 55px;
  padding: 0px 25px;
}

.top-banner .navi-bar .container a, .top-banner .navi-bar .container i {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.top-banner .navi-bar .container .navi-elements li {
  margin-right: 30px;
}

.top-banner .navi-bar .container .navi-elements li i {
  margin-left: 10px;
}

.top-banner .navi-bar .container .navi-elements .home-li:hover a, .top-banner .navi-bar .container .navi-elements .categories-li:hover a, .top-banner .navi-bar .container .navi-elements .products-li:hover a,
.top-banner .navi-bar .container .navi-elements .pages-li:hover a, .top-banner .navi-bar .container .navi-elements .elements-li:hover a, .top-banner .navi-bar .container .navi-elements .blog-li:hover a, .top-banner .navi-bar .container .navi-elements .about-li:hover a {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li:hover a i, .top-banner .navi-bar .container .navi-elements .products-li:hover a i,
.top-banner .navi-bar .container .navi-elements .pages-li:hover a i, .top-banner .navi-bar .container .navi-elements .elements-li:hover a i, .top-banner .navi-bar .container .navi-elements .blog-li:hover a i {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category {
  display: none;
  /* display: flex;
                        justify-content: space-between;
                        align-items: center; */
  position: absolute;
  left: -20px;
  background-color: white;
  width: 900px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .variation {
  position: relative;
  margin-left: 20px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .variation ul li {
  margin-bottom: 7px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .variation ul li a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 13px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .variation ul li a:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off img {
  margin: 20px 20px 15px 0px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .sale {
  font-size: 24px;
  font-weight: 900;
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .info {
  margin: 10px 0px 10px -5px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .info .upto {
  font-size: 12px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .info .percent-off {
  position: relative;
  left: -10px;
  font-size: 20px;
  font-weight: 900;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow {
  font-size: 12px;
  cursor: pointer;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow i {
  color: black;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow:hover i {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow .hover-animation {
  background-color: none;
  width: 88px;
  height: 1.5px;
}

.top-banner .navi-bar .container .navi-elements .categories-li .dropdown-category .drop-down-sale-off .drop-down-sale-off-content .shopnow:hover .hover-animation {
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: hoverBar;
          animation-name: hoverBar;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.top-banner .navi-bar .container .navi-elements .categories-li:hover .dropdown-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner .navi-bar .container .navi-elements .products-li {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products {
  display: none;
  /* display: flex;
                        justify-content: space-between;
                        align-items: center; */
  position: absolute;
  left: -20px;
  background-color: white;
  width: 900px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .variation {
  position: relative;
  margin-left: 20px;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .variation ul li {
  margin-bottom: 3px;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .variation ul li a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 13px;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .variation ul li a:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .drop-down-sale-off {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .drop-down-sale-off img {
  margin: 20px 20px 15px 0px;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .drop-down-sale-off .drop-down-sale-off-content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .drop-down-sale-off .drop-down-sale-off-content .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: white;
}

.top-banner .navi-bar .container .navi-elements .products-li .dropdown-products .drop-down-sale-off .drop-down-sale-off-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 900;
  color: white;
}

.top-banner .navi-bar .container .navi-elements .products-li:hover .dropdown-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner .navi-bar .container .navi-elements .pages-li {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .pages-li .dropdown-pages {
  display: none;
  position: absolute;
  left: -20px;
  background-color: white;
  width: 220px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.top-banner .navi-bar .container .navi-elements .pages-li .dropdown-pages .variation {
  position: relative;
  margin: 20px 0px 10px 20px;
}

.top-banner .navi-bar .container .navi-elements .pages-li .dropdown-pages .variation ul li {
  margin-bottom: 10px;
}

.top-banner .navi-bar .container .navi-elements .pages-li .dropdown-pages .variation ul li a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 13px;
}

.top-banner .navi-bar .container .navi-elements .pages-li .dropdown-pages .variation ul li a:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .pages-li:hover .dropdown-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner .navi-bar .container .navi-elements .elements-li {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .elements-li .dropdown-elements {
  display: none;
  position: absolute;
  left: -426px;
  background-color: white;
  width: 1200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.top-banner .navi-bar .container .navi-elements .elements-li .dropdown-elements .variation {
  position: relative;
  margin-left: 20px;
}

.top-banner .navi-bar .container .navi-elements .elements-li .dropdown-elements .variation ul li {
  margin-bottom: 3px;
}

.top-banner .navi-bar .container .navi-elements .elements-li .dropdown-elements .variation ul li a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 13px;
}

.top-banner .navi-bar .container .navi-elements .elements-li .dropdown-elements .variation ul li a:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .elements-li:hover .dropdown-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 100px 20px 20px;
}

.top-banner .navi-bar .container .navi-elements .blog-li {
  position: relative;
}

.top-banner .navi-bar .container .navi-elements .blog-li .dropdown-blog {
  display: none;
  position: absolute;
  left: -20px;
  background-color: white;
  width: 220px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.top-banner .navi-bar .container .navi-elements .blog-li .dropdown-blog .variation {
  position: relative;
  margin: 20px 0px 10px 20px;
}

.top-banner .navi-bar .container .navi-elements .blog-li .dropdown-blog .variation ul li {
  margin-bottom: 10px;
}

.top-banner .navi-bar .container .navi-elements .blog-li .dropdown-blog .variation ul li a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 13px;
}

.top-banner .navi-bar .container .navi-elements .blog-li .dropdown-blog .variation ul li a:hover {
  color: #f6a800;
}

.top-banner .navi-bar .container .navi-elements .blog-li:hover .dropdown-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner .navi-bar .container .limit-offer li {
  margin-left: 30px;
}

.top-banner .navi-bar .container .limit-offer .limit-li:hover a, .top-banner .navi-bar .container .limit-offer .buy-li:hover a {
  color: #f6a800;
}

.page-content .container .main-content-wrap {
  margin-bottom: 50px;
}

.page-content .container .main-content-wrap .side-bar {
  width: 25%;
  padding: 20px 20px 20px 0px;
}

.page-content .container .main-content-wrap .side-bar .bar-content {
  width: 100%;
  height: 100%;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu {
  border: solid rgba(51, 51, 51, 0.1) 1.5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-title {
  padding: 10px 0px;
  margin: 0px 17px;
  border-bottom: solid rgba(51, 51, 51, 0.1) 1.5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-title li a {
  color: black;
  font-size: 18px;
  font-weight: 900;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products {
  padding: 10px 0px;
  margin: 0px 17px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products li {
  padding: 10px 0px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products li a {
  font-size: 14px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products li a i {
  margin-right: 7px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products li:hover a {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .categories-menu .menu-products li:hover a i {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale {
  margin-top: 20px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content {
  background-image: url("../images/whiteShoes.jpg");
  height: 367px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text {
  position: relative;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-day {
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-day li span {
  color: white;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-day li span sup {
  color: white;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-content {
  position: absolute;
  width: 250px;
  top: 70px;
  left: 50%;
  -webkit-transform: translate(-40%, 0);
          transform: translate(-40%, 0);
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-content ul {
  width: 100%;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-content ul .sale-content-1 span {
  color: #2F3945;
  background-color: #f6a800;
  font-size: 22px;
  font-weight: 600;
  padding: 0px 15px;
  margin: 5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-content ul .sale-content-2 span {
  color: white;
  font-size: 38px;
  font-weight: 700;
  margin: 5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .banner-sale .banner-sale-content .sale-text .sale-content ul .sale-content-3 span {
  font-size: 17px;
  color: white;
  margin-left: -5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products {
  margin-top: 20px;
  position: relative;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-title .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item {
  position: relative;
  /* &:hover .img-hover {
                                        opacity: 1;
                                    } */
  margin-bottom: 20px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .popular-product-img {
  width: 100px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .popular-product-img:hover .img-hover {
  opacity: 1;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .popular-product-img .img-hover {
  width: 100px;
  height: 113px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .content {
  margin-left: 10px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .content ul li {
  font-size: 14px;
  font-weight: 700;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .content ul li i {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.3);
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .content ul .popular-name {
  font-weight: 100;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .popular-product-slide .list-item .popular-item .content ul:hover .popular-name {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .popular-products .owl-theme .owl-dots, .page-content .container .main-content-wrap .side-bar .bar-content .popular-products .owl-theme .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog {
  margin-top: 20px;
  position: relative;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-header {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-header .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-author {
  margin-top: 20px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  margin-bottom: 5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-author .blog-name:hover {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-author .blog-day:hover {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-title:hover a {
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-more a {
  font-size: 13px;
  font-weight: 900;
  color: #f6a800;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-more a i {
  color: #f6a800;
  font-weight: 900;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-more a .hover-animation {
  background-color: white;
  width: 88px;
  height: 1.5px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .blog-slide .blog .blog-content .blog-more:hover .hover-animation {
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: hoverBar;
          animation-name: hoverBar;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .owl-theme .owl-dots, .page-content .container .main-content-wrap .side-bar .bar-content .latest-blog .owl-theme .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial {
  margin-top: 20px;
  position: relative;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-header {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-header .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-slide .testimony-content .testimony-text {
  background-color: #f3eded;
  font-size: 14px;
  padding: 10px;
  color: rgba(51, 51, 51, 0.8);
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-slide .testimony-content .testimony-author {
  margin-top: 10px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-slide .testimony-content .testimony-author .testimony-info {
  padding-left: 10px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-slide .testimony-content .testimony-author .testimony-info .testimony-name {
  font-size: 14px;
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .testimonial-slide .testimony-content .testimony-author .testimony-info .testimony-role {
  font-size: 13px;
  color: rgba(51, 51, 51, 0.6);
}

.page-content .container .main-content-wrap .side-bar .bar-content .testimonial .owl-theme .owl-dots, .page-content .container .main-content-wrap .side-bar .bar-content .testimonial .owl-theme .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}

.page-content .container .main-content-wrap .main-content {
  width: 75%;
  max-height: 221.6vh;
  overflow: auto;
  position: relative;
}

.page-content .container .main-content-wrap .main-content::-webkit-scrollbar {
  width: 0px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide {
  margin-top: 20px;
  background-color: rgba(246, 168, 0, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 {
  height: 478px;
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-img {
  position: absolute;
  right: 100px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-img img {
  height: 478px;
  width: 511px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text {
  position: absolute;
  top: 30px;
  left: 50px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .new-arrivals {
  font-size: 20px;
  color: white;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .offer {
  font-size: 35px;
  font-weight: 800;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .offer span {
  color: white;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .main-btn {
  margin-top: 30px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .main-btn button {
  font-size: 14px;
  font-weight: 900;
  background-color: white;
  padding: 17px 40px;
  cursor: pointer;
  border-radius: 3px;
}

.page-content .container .main-content-wrap .main-content .content .main-slide .main-content-1 .main-text .main-btn :hover {
  background-color: #f6a800;
  color: white;
}

.page-content .container .main-content-wrap .main-content .content .owl-theme .owl-dots {
  position: absolute;
  bottom: 40px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.page-content .container .main-content-wrap .main-content .content .products {
  margin-top: 20px;
  margin-bottom: 70px;
}

.page-content .container .main-content-wrap .main-content .content .products .accessories {
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .products .accessories a img {
  width: 440px;
}

.page-content .container .main-content-wrap .main-content .content .products .accessories .accessory-content {
  cursor: pointer;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  width: 175px;
  height: 50px;
  background: white;
}

.page-content .container .main-content-wrap .main-content .content .products .watches {
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .products .watches a img {
  width: 440px;
}

.page-content .container .main-content-wrap .main-content .content .products .watches .watch-content {
  cursor: pointer;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  width: 175px;
  height: 50px;
  background: white;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content {
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .featured-product-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item {
  width: 24.8%;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item:hover .item-img .hover-to-buy-icons {
  opacity: 1;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img {
  /* .img-hover{
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            left: 0;
                                            bottom: 0;
                                            object-fit: contain;
                                            opacity: 0;
                                            transition: opacity .5s;
                                            
                                        } */
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img:hover .img-hover {
  opacity: 1;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img:hover .hover-to-buy-icons {
  opacity: 1;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img img {
  width: 100%;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons {
  opacity: 0;
  height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons:hover {
  opacity: 1;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .buy-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 10px;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .buy-icon ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  margin-top: 6px;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .buy-icon ul li i {
  color: rgba(51, 51, 51, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .buy-icon ul li:hover {
  background: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .buy-icon ul li:hover i {
  color: white;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .review {
  width: 100%;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-img .hover-to-buy-icons .review .quick-view {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #f6a800;
  padding: 15px 0px;
  margin-top: 110px;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul li i {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.2);
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .use-for {
  padding: 7px 0px;
  font-size: 10px;
  color: rgba(51, 51, 51, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .use-for:hover {
  color: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .name {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .name:hover .over-flow-name {
  color: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .name .over-flow-name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .render-featured-products .item .item-content ul .price {
  font-size: 16px;
  font-weight: 700;
  padding: 7px 0px;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .view-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .view-more:hover a {
  color: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .featured-product .featured-product-content .view-more:hover a i {
  color: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .black-friday {
  position: relative;
  margin-top: 30px;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-image img {
  width: 100%;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .coming-soon {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .friday-sale {
  font-size: 36px;
  font-weight: 800;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .friday-sale span {
  font-weight: 400;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .first-off {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  color: rgba(51, 51, 51, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .black-friday-sub .input-email {
  height: 40px;
  padding-left: 20px;
  background: white;
  border-radius: 20px 0px 0px 20px;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .black-friday-sub .subscribe {
  height: 40px;
  padding: 0px 20px;
  background: #28475c;
  border-radius: 0px 20px 20px 0px;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .black-friday-sub .subscribe a {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .black-friday-sub .subscribe a i {
  color: white;
}

.page-content .container .main-content-wrap .main-content .content .black-friday .black-friday-info .black-friday-sub .subscribe:hover {
  background: #222;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products {
  margin-top: 40px;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products {
  width: 32%;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .sale-products-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .sale-products-title .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item {
  position: relative;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .sale-item-img, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .sale-item-img, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .sale-item-img {
  /* .img-hover{
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            left: 0;
                                            bottom: 0;
                                            object-fit: contain;
                                            opacity: 0;
                                            transition: opacity .5s;
                                        } */
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .sale-item-img:hover .img-hover, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .sale-item-img:hover .img-hover, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .sale-item-img:hover .img-hover {
  opacity: 1;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .sale-item-img img, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .sale-item-img img, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .sale-item-img img {
  width: 100px;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .content, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .content, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .content {
  margin-left: 10px;
  width: 170px;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .content .name, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .content .name, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .content .name {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .content .name:hover a, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .content .name:hover a, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .content .name:hover a {
  color: #f6a800;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .content .price, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .content .price, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .content .price {
  font-size: 16px;
  font-weight: 600;
}

.page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-sale-items .sale-item .content li i, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-lastest-items .sale-item .content li i, .page-content .container .main-content-wrap .main-content .content .list-of-products .sale-products .list-best-items .sale-item .content li i {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.2);
}

.page-content .container .main-content-wrap .main-content .content .featured-brands {
  margin-top: 40px;
}

.page-content .container .main-content-wrap .main-content .content .featured-brands .brand-header {
  font-weight: 20px;
  font-weight: 700;
}

.page-content .container .main-content-wrap .main-content .content .featured-brands .brand-header .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

body {
  position: relative;
}

.cart-pull-out {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgba(51, 51, 51, 0.3);
  width: 100%;
}

.cart-pull-out .cart-pull-out-content {
  width: 350px;
  background: white;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.cart-pull-out .cart-pull-out-content .cart-header {
  padding: 20px;
}

.cart-pull-out .cart-pull-out-content .cart-header .shopping-cart {
  font-weight: 900;
}

.cart-pull-out .cart-pull-out-content .cart-header .close-cart {
  font-size: 12px;
  font-weight: 900px;
  color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}

.cart-pull-out .cart-pull-out-content .cart-header .close-cart i {
  color: rgba(51, 51, 51, 0.5);
}

.cart-pull-out .cart-pull-out-content .cart-header .close-cart:hover, .cart-pull-out .cart-pull-out-content .cart-header .close-cart:hover i {
  color: #f6a800;
}

.cart-pull-out .cart-pull-out-content .cart-header .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.cart-pull-out .cart-pull-out-content .no-product {
  color: rgba(51, 51, 51, 0.7);
}

.cart-pull-out .cart-pull-out-content .cart-list {
  margin-right: 20px;
  /* Track */
  /* Handle */
  /* Handle on hover */
  max-height: 75%;
  overflow: auto;
}

.cart-pull-out .cart-pull-out-content .cart-list::-webkit-scrollbar {
  width: 5px;
}

.cart-pull-out .cart-pull-out-content .cart-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.cart-pull-out .cart-pull-out-content .cart-list::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.3);
  border-radius: 10px;
}

.cart-pull-out .cart-pull-out-content .cart-list::-webkit-scrollbar-thumb:hover {
  background: rgba(51, 51, 51, 0.5);
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart {
  margin: 10px 10px 10px 20px;
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .item-info img {
  width: 80px;
  height: 90px;
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .item-info .item-detail {
  margin-left: 10px;
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .item-info .item-detail .hover-name:hover {
  color: #f6a800;
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .delete-item {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgba(60, 64, 68, 0.2);
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .delete-item:hover {
  border: 1px solid #f6a800;
}

.cart-pull-out .cart-pull-out-content .cart-list .products-in-cart .delete-item:hover i {
  color: #f6a800;
}

.cart-pull-out .cart-pull-out-content .cart-list .division-line {
  margin: 0px 20px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.cart-pull-out .cart-pull-out-content .sub-total {
  margin: 10px 20px;
}

.cart-pull-out .cart-pull-out-content .sub-total .division-line {
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.cart-pull-out .cart-pull-out-content .sub-total-disable {
  display: none;
}

.cart-pull-out .cart-pull-out-content .cart-checkout .view-cart {
  cursor: pointer;
}

.cart-pull-out .cart-pull-out-content .cart-checkout .view-cart:hover {
  color: #f6a800;
}

.cart-pull-out .cart-pull-out-content .cart-checkout .btn-checkout button {
  cursor: pointer;
  margin-top: 10px;
  display: block;
  padding: 15px 50px;
  color: white;
  background: black;
}

.cart-pull-out .cart-pull-out-content .cart-checkout .btn-checkout button:hover {
  background: rgba(0, 0, 0, 0.637);
}

.cart-pull-out .cart-pull-out-content .cart-checkout-disable {
  display: none;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
}

.modal .modal-content {
  border-radius: 10px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/modal.jpg");
  background-size: no-repeat;
  width: 700px;
}

.modal .modal-content .modal-body {
  margin-left: 50%;
  text-align: center;
  padding: 100px 0px 20px;
}

.modal .modal-content .modal-body h3 span {
  color: #0085c8;
}

footer {
  background: #2c2c2c;
  padding: 50px 0px;
}

footer .container .top-footer {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .container .top-footer .top-footer-content a img {
  width: 154px;
  height: 43px;
}

footer .container .top-footer .top-footer-content .top-footer-text .top-text-1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

footer .container .top-footer .top-footer-content .top-footer-text .top-text-2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

footer .container .top-footer .top-footer-content .email-subscribe .input-email {
  width: 340px;
  height: 50px;
  padding-left: 20px;
  background: #999999;
}

footer .container .top-footer .top-footer-content .email-subscribe .subscribe {
  height: 50px;
  padding: 0px 20px;
  background: #f6a800;
}

footer .container .top-footer .top-footer-content .email-subscribe .subscribe a {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

footer .container .top-footer .top-footer-content .email-subscribe .subscribe a i {
  color: white;
}

footer .container .top-footer .top-footer-content .email-subscribe .subscribe:hover {
  background: #FFC74E;
}

footer .container .middle-footer {
  padding-bottom: 40px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .container .middle-footer .contact .title {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

footer .container .middle-footer .contact .info li {
  padding: 0px 0px 15px 0px;
  color: white;
  font-size: 13px;
}

footer .container .middle-footer .contact .info li a {
  margin-left: 5px;
  color: #999999;
  font-size: 13px;
}

footer .container .middle-footer .contact .info li a:hover {
  color: white;
}

footer .container .middle-footer .contact .available-time .time-header {
  padding: 0px 0px 15px 0px;
  color: white;
  font-size: 13px;
}

footer .container .middle-footer .contact .available-time .time-info {
  padding: 0px 0px 10px 0px;
  color: #999999;
  font-size: 13px;
}

footer .container .middle-footer .about .title {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

footer .container .middle-footer .about ul li {
  padding: 0px 0px 10px 0px;
}

footer .container .middle-footer .about ul li a {
  color: #999999;
  font-size: 13px;
}

footer .container .middle-footer .about ul li:hover a {
  color: white;
}

footer .container .middle-footer .account .title {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

footer .container .middle-footer .account ul li {
  padding: 0px 0px 10px 0px;
}

footer .container .middle-footer .account ul li a {
  color: #999999;
  font-size: 13px;
}

footer .container .middle-footer .account ul li:hover a {
  color: white;
}

footer .container .middle-footer .instagram .title {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

footer .container .middle-footer .instagram .ins-images img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

footer .container .bottom-footer {
  margin-top: 40px;
}

footer .container .bottom-footer .copy-right {
  color: #999999;
}

footer .container .bottom-footer .social .facebook {
  font-size: 20px;
  margin-left: 10px;
}

footer .container .bottom-footer .social .facebook i {
  color: #999999;
}

footer .container .bottom-footer .social .facebook:hover i {
  color: #3b5998;
}

footer .container .bottom-footer .social .twitter {
  font-size: 20px;
  margin-left: 10px;
}

footer .container .bottom-footer .social .twitter i {
  color: #999999;
}

footer .container .bottom-footer .social .twitter:hover i {
  color: #3b5998;
}

footer .container .bottom-footer .social .invision {
  font-size: 20px;
  margin-left: 10px;
}

footer .container .bottom-footer .social .invision i {
  color: #999999;
}

footer .container .bottom-footer .social .invision:hover i {
  color: #3b5998;
}

@-webkit-keyframes hoverBar {
  0% {
    background-color: rgba(246, 168, 0, 0.1);
  }
  25% {
    background-color: rgba(246, 168, 0, 0.2);
  }
  50% {
    background-color: rgba(246, 168, 0, 0.5);
  }
  75% {
    background-color: rgba(246, 168, 0, 0.7);
  }
  100% {
    background-color: #f6a800;
  }
}

@keyframes hoverBar {
  0% {
    background-color: rgba(246, 168, 0, 0.1);
  }
  25% {
    background-color: rgba(246, 168, 0, 0.2);
  }
  50% {
    background-color: rgba(246, 168, 0, 0.5);
  }
  75% {
    background-color: rgba(246, 168, 0, 0.7);
  }
  100% {
    background-color: #f6a800;
  }
}
/*# sourceMappingURL=style.css.map */